Language: Cpp
BasedOnStyle: Chromium

# 左括号(左圆括号、左尖括号、左方括号)后的对齐: Align, DontAlign, AlwaysBreak(总是在左括号后换行)
#AlignAfterOpenBracket: AlwaysBreak
AlignAfterOpenBracket: Align

# 大括号的换行规则
#BreakBeforeBraces: Allman

# 访问说明符（public、private）偏移
AccessModifierOffset: -2
